.chat {
  flex: inherit;
  display: flex;
  flex-direction: column;
  height: inherit;
  position: relative;
}
.chat__background__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/whatsapp-web-8a56f.appspot.com/o/whatsapp_doddles.png?alt=media&token=3f50f857-1a49-4bde-b2c7-1deba9fd251f");
  background-repeat: repeat;
  opacity: 0.46;
}
.chat__background__image__nightTheme {
  opacity: 0.1;
}
.chat__header {
  position: relative;
  /* This sticks out the header upon bg-image usage in chat__background__image */
  background-color: rgb(240, 240, 240);
  height: 10%;
  max-height: 70px;
  display: flex;
  align-items: center;
  min-height: 70px; /* Fallback height when the screensize is reduced */
}
.chat__header__nightTheme {
  background-color: rgb(42, 47, 50);
  color: rgba(241, 241, 242, 0.92);
}
.chat__header__avatar {
  margin: 10px;
}
.chat__header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__header__friendname {
  font-weight: 400;
  font-size: 20px;
  margin-right: auto;
}
.chat__header__lastSeen {
  font-size: x-small;
  color: rgba(0, 0, 0, 0.45);
}
.chat__header__lastSeen__nightTheme {
  font-size: x-small;
  color: rgba(241, 241, 242, 0.63);
}
.chat__header__chatInfo {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.chatSearchIcon {
  color: rgb(81, 88, 92);
}
.chatInfoIcon {
  color: rgb(81, 88, 92);
}
.nightModeIcon {
  color: rgb(177, 179, 181);
}
.chat__ground {
  flex: 1; /* Gives max space for this block */
  background-color: #7acba5;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 15px 10%; /* Gives whatsapp like feel */
}
.chat__ground__nightTheme {
  background-color: #10241b;
}

.chat__ground__loadingScreen {
  width: fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  margin: auto auto 0 auto;
}
.progressbar__color {
  color: #7acba5 !important;
}
.chat__footer {
  position: relative; /* This sticks out the header upon bg-image usage in chat__background__image */
  height: 10%;
  display: flex;

  cursor: pointer;
  padding: 10px;
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.chat__footer__nightTheme {
  background-color: rgb(30, 36, 40);
}
.chat__footer__fileupload {
  transition: transform 1s ease-in-out;
  transform: rotate(50deg);
}
.chat__footer__messageInput {
  flex: 1;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid lightgray;
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui,
    system-ui, "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    "Kohinoor Devanagari", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(74, 74, 74);
}
.chat__footer__messageInput__nightTheme {
  background-color: rgb(50, 55, 57);
  color: white;
  border-color: transparent;
}
input:focus {
  outline: none;
}
