.home {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1441px) {
  .home {
    margin: 0 auto;
    width: 1396px;
    height: calc(100% - 38px);
    top: 19px;
  }
}
