body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
    Ubuntu, Cantarell, "Fira Sans", sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    Courier, monospace;
  background-color: #dbdbd5;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
