.basepage {
  background-color: #f8f9fa;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basepage__introImg {
  min-width: 250px;
  min-height: 250px;
  margin-top: 150px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/whatsapp-web-8a56f.appspot.com/o/whatsappImg.jpeg?alt=media&token=3083e4a5-85e0-4b4b-b440-e590d10a8caf");
  background-size: cover;
}
.basepage__text {
  font-weight: unset;
}
.line__seperator {
  height: 1px;
  width: 50%;
  background-color: lightslategrey;
}
.bottomLine {
  background-color: #4adf83;
  height: 5px;
  width: 100%;
  margin-top: auto;
}
