.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat__header {
  background-color: #ededed;
  height: 10%;
  display: flex; /* Throws every html element in a row */
  align-items: center;
  min-height: 70px; /* Fallback height when the screensize is reduced */
}
.chat__header__avatar {
  margin: 10px;
}
.chat__header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__header__friendname {
  font-weight: 400;
  font-size: 20px;
  margin-right: auto;
}
.chat__header__lastSeen {
  font-size: x-small;
  color: rgba(0, 0, 0, 0.45);
}
.chat__header__chatInfo {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 10px;
}
.chat__ground {
  flex: 1; /* Gives max space for this block */
  overflow: scroll;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.chat__ground__loadingScreen {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
.progressbar__color {
  color: #7acba5 !important;
}
.chat__message__body {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.chat__message {
  width: fit-content;
  max-width: 50%; /* Used to wrap the message if the content is too long*/
  padding: 10px;
  border-radius: 10px;
  font-size: 14.5px;
  font-weight: 420;
}
.sender__message {
  margin-left: auto;
  background-color: #dbf8c6;
}
.currentuser__message {
  background-color: white;
}
.chat__message__timestamp {
  /* background-color: yellow; */
  font-size: x-small;
  font-weight: 50;
  color: gray;
  float: right; /* Makes the time stamp respond to margin */
  margin: 10px 0 -10px 7px;
}
.emojiBoard {
  width: fit-content;
}
.chat__footer {
  background-color: #f0f0f0;
  height: 10%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 10px;
  align-items: center;
}
.chat__footer__fileupload {
  transition: transform 1s ease-in-out;
  transform: rotate(50deg);
}
.chat__footer__messageInput {
  flex: 1;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid lightgray;
  font-size: 15px;
}
input:focus {
  outline: none;
}
