.contact {
  cursor: pointer;
  display: flex;
  margin-bottom: 1px;
  animation: lightSpeedInLeft;
  animation-duration: 0.5s;
}
.contact:hover,
.contact:focus {
  background-color: #eeecec;
}
.contact__when__unReadMessagesExist {
  font-weight: 500;
}
.contact__information {
  padding: 9px 10px 7px 0;
  border-bottom: 1px solid #eeecec;
  width: 100%;
  /* Prevents table from overflowing when text is long */
  table-layout: fixed;
}
.contact__name {
  font-size: 18px;
}
.contact__lastSeen {
  text-align: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.contact__lastSeen__when__unreadMessage {
  color: rgba(0, 0, 0, 0.8);
}
.contact__recentMessage {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.contact__recentMessage__when__unreadMessage {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.contact__unReadMessagesCount {
  text-align: right;
}
.secondRow {
  height: 29px;
}
.textWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
