.sidebar {
  width: 30%;
  height: 100%;
  /* Makes the section fixed (disables scroll)*/
  position: fixed;
  left: 0;
}
.sidebar__userbio {
  height: 10%;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: row;
  border-right: 1px solid lightgray;
  align-items: center;
  min-height: 70px; /* Fallback height when the screensize is reduced */
}
.sidebar__userbio__shortCuts {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.storyIcon {
  transition: transform 1s ease-in-out;
  transform: rotate(-90deg);
}
.sidebar__chats {
  /* Makes only this section scrollable */
  overflow: scroll;
}
.sidebar__avatar__username {
  margin-top: 20px;
}
.sidebar__avatar {
  margin: 10px;
}
.listExpander {
  margin-right: 100px !important;
}
.userInfo {
  background-color: white;
  margin-right: auto;
  margin-bottom: auto;
  width: 30% !important;
  height: 100%;
}
.userInfo__header {
  background-color: #01bfa5;
  height: 15%;
  display: flex;
  flex-direction: row;
}
.userInfo__prevBtn {
  margin-top: auto;
  margin-bottom: auto;
}
.userInfo__text {
  font-size: 19px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.userInfo__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo__avatar {
  margin-top: 30px;
  width: 100px;
  height: 100px;
}
.userInfo__image {
  border-radius: 50%;
}
.userInfo__username {
  font-size: large;
}
.sidebar__searchArea {
  background-color: #f6f6f6;
  padding: 5px 10px 5px 10px;
}
.searchBox__wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px 5px 12px;
}
.searchBox {
  flex: 1;
  font-size: 14px;
  margin-left: 30px;
  border-color: transparent;
  background-color: inherit;
}
.searchBox::placeholder {
  color: rgba(0, 0, 0, 0.45);
}
.arrowBack {
  color: rgb(51, 183, 246);
  cursor: pointer;
}
