.chat {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
}
.chat__header {
  background-color: #ededed;
  /* height: 12.8%; */
  height: 10%;
  /* border-left: 1px solid lightgray; */
  display: flex; /* Throws every html element in a row */
  align-items: center;
  min-height: 70px; /* Fallback height when the screensize is reduced */
}
.chat__header__avatar {
  margin: 10px;
}
.chat__header__chatInfo {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 10px;
}
.chat__ground {
  flex: 1; /* Gives max space for this block */
  overflow: scroll;
  /* background-color: rgb(174, 216, 199); */
  /* background-color: rgb(122, 203, 165); */
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.chat__message__body {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px; /* For decreasing margin between two message boxes */
}
.chat__message {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-size: 14.5px;
  font-weight: 420;
}
.chat__sender {
  margin-left: auto;
  background-color: #dbf8c6;
}
.chat__reciever {
  background-color: white;
}
.chat__message__timestamp {
  /* background-color: yellow; */
  font-size: x-small;
  font-weight: 50;
  color: gray;
  float: right; /* Makes the time stamp respond to margin */
  margin: 10px 0 -10px 7px;
}
.emojiBoard {
  /* display: none; */
  width: fit-content;
}
.chat__footer {
  background-color: #f0f0f0;
  height: 10%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  /* margin-top: 10px; */
}
.chat__footer__fileupload {
  /* font-size: 2.5rem; */
  /* padding: 10px; */
  transition: transform 1s ease-in-out;
  transform: rotate(50deg);
  /* margin-top: 18px;
  margin-left: 10px; */
}
.chat__footer__messageInput {
  flex: 1;
  /* border: none; */
  border-radius: 50px;
  padding: 10px;
  border: 1px solid lightgray;
  font-size: 15px;
  /* margin: 10px; */
}
.chat__footer__messageSend {
  /* font-size: x-large !important; */
  /* margin: 8px; */
  /* padding: 10px; */
  /* margin-top: 18px;
  margin-right: 10px; */
}
input:focus {
  outline: none;
}
