.chatground {
  margin: 20px;
}
.messagebody {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.personmessage {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}
.yourmessage {
  background-color: #dbf8c6;
  border: 2px solid #dbf8c6;
  border-radius: 5px;
  padding: 10px;
  float: right;
}
