.contact {
  cursor: pointer;
  display: flex; /* Throws every html element in a row */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin-bottom: 1px;
  /* font-size: large; */
}

.contact:hover,
.contact:focus {
  background-color: lightgray;
  /* opacity: 50%; */
}
.contact__avatar {
  margin-right: 10px;
}
